*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}

body{

    background-color: bisque;
    margin: 0;
    padding: 0;
    height: 1000px;
}

header{

    height: 15%;
    padding: 50px;
    background-color:rgb(41, 39, 39);
    text-align: center;
    color: aliceblue;

}

footer{

    background-color: pink;

}

#form{

    max-width: 55%;
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;
    display: flex;

}




#registros{

    max-width: 51%;
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;

}

h2{

    display: flex;
    justify-content: center;

}

#textos{

    display: flex;
    justify-content: center;

}


#borrar{
    max-width: 51%;
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;

    
}


footer {

    height: 0 auto;
    display: flex;
    justify-content: center;
    

}

#totalG{

    margin: 20%;

}